# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build artifacts
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
.python-version
scratch
config.yml
!playground/config.yml

# Project exclusion
site
venv
.cache
# Binaries
cmd/greenmask/greenmask

# Docusaurus
node_modules
.docusaurus
build
.DS_Store

# Integration Tests
v1/tests/integration/*.txt
v1/tests/integration/*.log
v1/tests/integration/tmp/
v1/tests/integration/allure-results/
v1/tests/integration/venv/
v1/tests/integration/.pytest_cache/
__pycache__/
*.py[cod]