name: PR and main branch checks

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths-ignore:
      - "README.md"
      - "docs/**"
      - "mkdocs.yml"
      - "LICENSE"
      - "getting_started.md"
      - "docker-compose.yml"
      - "playground/**"
      - "CNAME"
      - "requirements.txt"
  pull_request:
    paths-ignore:
      - "README.md"
      - "docs/**"
      - "mkdocs.yml"
      - "LICENSE"
      - "getting_started.md"
      - "docker-compose.yml"
      - "playground/**"
      - "CNAME"
      - "requirements.txt"

env:
  go-version: "1.24"
  golangci-lint-version: v2.10.1

permissions:
  contents: read

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  build:
    uses: ./.github/workflows/build.yml
    needs:
      - tests

  code_check:
    name: lint
    runs-on: ubuntu-latest
    needs:
      - tests
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.go-version }}

      - uses: actions/cache/restore@v4
        id: restore-cache
        with:
          path: coverage.out
          key: ${{ runner.os }}-coverage-${{ github.sha }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.golangci-lint-version }}
