name: Create Greenmask release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  build:
    uses: ./.github/workflows/build.yml
    needs: 
      - tests
    secrets: inherit

  build-mysql:
    uses: ./.github/workflows/build-mysql.yml
    needs: 
      - build
    secrets: inherit

  docs:
    uses: ./.github/workflows/docs.yml
    needs: 
      - build
      - build-mysql
      