name: Run unit and integration tests

on:
  workflow_call:

env:
  go-version: '1.22.6'

jobs:
  unit-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.go-version }}

      - name: Run tests
        run: make tests

  integration-tests:
    runs-on: ubuntu-22.04
    needs: 
      - unit-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run integration tests
        run: |
          docker compose -f docker-compose-integration.yml -p greenmask up \
          --renew-anon-volumes --force-recreate --build --exit-code-from greenmask \
          --abort-on-container-exit greenmask
